$color_1: #fff;
$color_2: black;
$font-family_1: "Open Sans", sans-serif;
$background-color_1: #a1a1af;

@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap";
/* FORM DETAIL */

body {
    font-family: $font-family_1;
    background: #000;
    color: $color_1;
    background: #000;
    color: $color_1;

    & .container {
        display: flex;
        flex-direction: column;
        width: 750px;
        background: #5c3333;
        padding: 10px;
        margin: 10px auto;
        gap: 12px;

        & .table {
            border: 1px solid #a1a1af;

            & .table__header {
                background-color: $background-color_1;

                &::-webkit-scrollbar {
                    opacity: 0;
                }
            }

            & .table__body {
                height: 400px;
                overflow-y: auto;
                grid-column-start: 1;
                grid-column-end: 6;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            & .column {
                width: 100%;

                .row {
                    border-bottom: 1px #a1a1af solid;
                    padding: 5px;
                    margin: auto;

                    &.selected {
                        background: darkcyan;
                    }
                }
            }

            &.lesser {
                .table__header {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .table__body {
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }

        & .detail {
            position: relative;
            border: 1px solid #a1a1af;
            padding: 20px 10px 10px;

            & .detail__title {
                position: absolute;
                top: -12px;
                padding: 0 10px;
                margin: 0;
                background: #5c3333;
            }

            & .form {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 12px;

                & .form__input {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: auto;

                    & .detail__input {
                        height: 24px;
                        border: none;
                        outline: none;
                        padding: 0 10px;
                        background: #a1a1af;
                        color: $color_1;

                        &:focus {
                            background: #fff;
                            color: $color_2;
                        }
                    }
                }
            }
        }
    }


}